@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: 	hsl(196, 90%, 52%);
  backgroundwhite: hsl(0, 0%, 95%)2;
  backgroundblack: hsl(0, 0%, 9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

